.substr-content{
    position: relative;
}

.substr-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8240546218487395) 25%, rgba(255,255,255,0.6839985994397759) 50%, rgba(255,255,255,0.3982843137254902) 75%, rgba(255,255,255,0) 100%);
}

.premium-post-div{
    margin: auto;
    text-align: center;
}

.premium-post-div input{
    margin:   0px auto  30px auto;
    display: block;
}


.article-protector-msg{
    color : #e74c3c;
    text-align: center;
}